.productDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.productDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productDetails__buttons {
 width: 100px;
}