.search-box-container{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

.sizeBox_container {
  height: 50%;
  width: 100%;
}

.title_myAccount {
  text-align: 'right';
  width: 20%;
  font-family: 'Proximanova-semibold';
  height: 50%;
  font-size: 0.8rem;
}

.title_account {
  cursor: pointer;
  text-align: right;
}

.flex_container_column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.size_image {
  height: 100%;
  width: 60%
}

.containerGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.containerShortcuts {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 100%;
  color: #715f5f;
  justify-content: center;
}

.container-header {
  height: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto; 
}


.background-header{
  background-color: #fff159;
  padding: 10px 0;
  width: 100%;
  align-content: center;
}

.background-menuShortcuts {
  background-color: aliceblue;
  width : 100%
}



@media(max-width: 1024px){
  .background-header{
    margin: 0 -10px;
  }
}

.img_logo {
  width: 80%;
}

.container_shortcuts {
  display: flex;
  align-content: center;
  margin: 0 auto; 
  width: 90%
}

.search-box-input{
  width: 80%;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 2px;
  flex: 20 1;
  padding: 12px;
  font-size: 0.8rem;
  font-family: 'Proximanova-regular';
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.style-shortcuts {
  font-family: 'Proximanova-regular';
}

@media(max-width: 480px){
  .search-box-btn{
    flex: none;
    width: 35px;
  }
}

@media(max-width: 1024px){
  .search-box-container{
    padding: 0 20px;
  }
}

@media(max-width: 480px){
  .search-box-container img{
    width: 60px;
    position: relative;
    top: 10px;
  }
}